services:
  # ASP.NET Core API Container (uses Railway PostgreSQL)
  api:
    image: wsssixteen/microjira:v3
    container_name: taskmanager-api-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:8080"
    environment:
      # Railway PostgreSQL Connection String
      ConnectionStrings__DefaultConnection: "Host=yamanote.proxy.rlwy.net;Port=46480;Username=postgres;Password=dXYhBzUvvbPwpOybCiiZLnwNPdoyEuKC;Database=railway;Pooling=true;SSL Mode=Require;Trust Server Certificate=true"
      ASPNETCORE_ENVIRONMENT: "Production"